* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#root::before {
    content: "";
    position: fixed;
    height: 127px;
    width: 100%;
    background-color: #007396;
    top: 0;
    z-index: -1;
}